<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--普通的增删改查，nameSpace的值为personMapper.xml-->
<!--接口方式的增删改查，nameSpace的值为Entity.PersonMapper-->
<mapper namespace="Entity.PersonMapper">
    <select id="queryPersonById" resultType="Entity.Person" parameterType="int">
        select * from person where id = #{id}
    </select>

    <!-- 查询  使用了类型转换器
    如果类中的属性和表中的字段相同，能够合理识别，则可以使用resultType，否则使用resultMap
    如果类中的属性名和表中的字段名相同，则使用resultType，否则使用resultMap
    -->
    <select id="queryPersonByIdWithConverter" resultMap="personResult" parameterType="int">
        select * from person where id = #{id}
    </select>

    <resultMap type="Entity.Person" id="personResult">
        <!-- 主键和非主键-->
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="age" column="age" />
        <!-- 类型转换-->
        <result property="sex" column="sex"  javaType="Boolean" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="addPerson" parameterType="Entity.Person">
           insert into person(id,name,age) values (#{id},#{name},#{age})
    </insert>
    <delete id="deletePersonById" parameterType="int">
        delete from person where id = #{id}
    </delete>
    <update id="updatePersonById" parameterType="Entity.Person">
        update person set name=#{name},age = #{age} where id = #{id}
    </update>
    
    <select id="quaryAllPerson" resultType="Entity.Person">
        select * from person
    </select>

    <!-- 关联查询 一对一查询 -->
    <select id="quaryStudentByNoWithOO"  parameterType="int" resultType="Entity.StudentBusiness">
        select  s.*,c.* from Student s inner join studentCard c
            on s.cardId = c.cardId
            where  s.id = #{id}
    </select>
</mapper>