<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--普通的增删改查，nameSpace的值为personMapper.xml-->
<!--接口方式的增删改查，nameSpace的值为Entity.PersonMapper-->
<mapper namespace="Entity.PersonMapper">
    <select id="queryPersonById" resultType="Entity.Person" parameterType="int">
        select * from person where id = #{id}
    </select>

    <insert id="addPerson" parameterType="Entity.Person">
           insert into person(id,name,age) values (#{id},#{name},#{age})
    </insert>
    <delete id="deletePersonById" parameterType="int">
        delete from person where id = #{id}
    </delete>
    <update id="updatePersonById" parameterType="Entity.Person">
        update person set name=#{name},age = #{age} where id = #{id}
    </update>
    
    <select id="quaryAllPerson" resultType="Entity.Person">
        select * from person
    </select>
</mapper>